
<h1>¡Hola, Rails!</h1>

<h3>Ingrese una serie o película nueva</h3>

<%= form_with model: TvShow.new do |form| %>
    <%= form.text_field :name, placeholder: "Nombre serie", class: "form-control" %><br>
    <%= form.text_area :summary, placeholder: "Descripción", class: "form-control" %><br>
    <div class="row">
      <div class="col-md-6">
        <%= form.date_field :release_date, class: "form-control" %>
      </div>
      <div class="col-md-6">
        <%= form.number_field :rating, step: '0.1', placeholder: "Rating" , class: "form-control" %>
      </div>
    </div>
    <br>
    <%= form.submit  "Enviar", class: "btn btn-success btn-lg btn-block" %>
<% end %>
<br>
<%= form_with url: "/tv_shows", method: :get do |form| %>
    <%= form.label :query, "Ingrese un nombre:" %>
    <%= form.text_field :query %>
    <%= form.submit "Enviar" %>
<% end %>

<%= "Mi nombre es: #{ @search || "***ningun dato ingresado***" }" %>

<br>
<%= link_to 'go back to welcome page', welcome_path %>
